## Conditional statements
To write a python code if a person is eligible to vote or not

In [25]:
age = 17

In [26]:
if age >= 18:
    print("Yes, you are eligible to vote")
    print("congratulations!")
else:
    print("sorry, you are not eligible to vote")

sorry, you are not eligible to vote

In [27]:
# if is conditional statements for python to check through

To test if a number is zero, negative or positive

In [37]:
num = 1

In [38]:
if num == 0:
    print("The number is zero")
elif num < 0:
    print("The number is negative")
elif num > 0:
    print("The number is positive")

The number is positive

To test if number is odd or even

In [1]:
number = 2

In [2]:
if number % 2 == 0:
    print("The number is even")
elif number % 2 == 1:
    print("The number is odd")

The number is even

In [3]:
#using the in operator

In [6]:
greeting = "Hello, everyone"

In [7]:
if "Hi" in greeting:
    print("The user said Hi")
else:
    print("The user did not say Hi")

The user did not say Hi

In [10]:
cars = ["Audi", "Hillux", "Toyota", "Benz"]

In [11]:
if "Tesla" in cars:
    print("She has a Tesla")
else:
    print("She does not have a Tesla")

She does not have a Tesla

## Nested IFs

In [12]:
len(cars)

4

In [16]:
cars = []

In [17]:
if len(cars) > 0: #this checks first, if she has atleast one car
    if "Benz" in cars: #checks if she has a Benz
        print("She has a Benz")
    else:
        print("She does not have a Benz")
else:
    print("She doesn't have any car")

She doesn't have any car

## For Loops
used with iterables (strings, list, tuples, sets, and dictionaries)

In [16]:
greeting = "Hello"

In [17]:
print(greeting)

Hello

In [18]:
for char in greeting:
    print(char) #char is the place holder for character in greeting

H
e
l
l
o

In [19]:
greeting[0]

'H'

In [25]:
for i in greeting:
    print(f"The letter {i} is present in greeting")

The letter H is present in greeting
The letter e is present in greeting
The letter l is present in greeting
The letter l is present in greeting
The letter o is present in greeting

In [31]:
#using the for loops with list

student_names = ["John", "Alice", "James"]

print(student_names)

['John', 'Alice', 'James']

In [36]:
for name in student_names:
    print(f"Hi, {name}")
    print("Welcome to techcrush")
    print("Wish you all the best")
print("God bless you")

Hi, John
Welcome to techcrush
Wish you all the best
Hi, Alice
Welcome to techcrush
Wish you all the best
Hi, James
Welcome to techcrush
Wish you all the best
God bless you

In [37]:
print(student_names)

['John', 'Alice', 'James']

In [39]:
#Enumerate function is a generator function

enumerate(student_names)#for you to see what enumerate does, you must use list together with it.

In [40]:
list(enumerate(student_names))#enumerate counts the index

[(0, 'John'), (1, 'Alice'), (2, 'James')]

In [41]:
indexed_list = list(enumerate(student_names))

print(indexed_list)

[(0, 'John'), (1, 'Alice'), (2, 'James')]

In [46]:
for index, name in indexed_list:
    position = index + 1
    print(f"The number {position} student is {name}")

The number 1 student is John
The number 2 student is Alice
The number 3 student is James

In [49]:
#using loop with dictionary

favorite_fruit = {"Alice":"Pear", "John":"Apple", "James":"Grapes"} 

print(favorite_fruit)

{'Alice': 'Pear', 'John': 'Apple', 'James': 'Grapes'}

In [50]:
print("The names in the dictioanary are:")
for key in favorite_fruit.keys():
    print(key)

The names in the dictioanary are:
Alice
John
James

In [52]:
for fruit in favorite_fruit.values():
    print(fruit)

Pear
Apple
Grapes

In [53]:
for key, value in favorite_fruit.items():
    print(f"{key}'s favorite is the {value}")

Alice's favorite is the Pear
John's favorite is the Apple
James's favorite is the Grapes

In [54]:
favorite_fruit.items()

dict_items([('Alice', 'Pear'), ('John', 'Apple'), ('James', 'Grapes')])

## Range Function

In [71]:
#To craete a list of numbers of 1 to 10
range(1, 11) #To see the result of range function, you have to pass it to list function

range(1, 11)

In [72]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
list(range(10, 20, 2))#adding slicing method in steps of 2

[10, 12, 14, 16, 18]

In [74]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [75]:
#To craete a list of even_numvers from 0 to 20

even_numbers = []

for num in range(0, 21):
    if num % 2 == 0:
        even_numbers.append(num)

In [76]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [77]:
sum(even_numbers)

110

In [78]:
odd_numbers = []

for num in range(0, 21):
    if num % 2 == 1:
        odd_numbers.append(num)

In [79]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [80]:
#Tocraet a list of squares from 1 to 10

squares = []

for num in range(1, 11):
    square = num ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehension

In [81]:
squares_comp = [num ** 2 for num in range(1, 11)]


print(squares_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
even_numbers_comp = [num for num in range(0, 21) if num % 2 == 0]

print(even_numbers_comp)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## While Loops

To write a code to count from 0 to 5

To write to count from 5 to 1

In [1]:
counter = 1

while counter <= 5:
    print(counter)
    counter += 1

1
2
3
4
5

To write a code to count from 5 to 1

In [2]:
counter = 5

while counter > 0:
    print(counter)
    counter -= 1

5
4
3
2
1

break

break is used to exit the loopcompletely, even  the condition is still true.

In [3]:
#To count from 1 to 10, but stop when we reach 5

count = 1

while count <= 10:
    if count == 5:
        break
    print(count)
    count += 1

1
2
3
4

Continue

continue is used to stop the cuurent iteration and move to the next one

In [5]:
#To count 1 to 10 and skip number 5

count = 0

while count < 10:
    count += 1
    if count == 5:
        continue
    print(count)

1
2
3
4
6
7
8
9
10

## Functions

In [1]:
name = "John"

In [2]:
name = input("please enter your name: ")

please enter your name:  Steve

In [3]:
print(name)

Steve

In [4]:
age = input("Enter your age: ")

Enter your age:  16

In [5]:
print(age)

16

In [6]:
type(age) #any data collected using input, python store it as str but u convert it to integer

str

In [13]:
age = int(input("Enter your age: "))

Enter your age:  16

In [14]:
type(age)

int

In [16]:
age > 18

False

## User Defined Functions

In [1]:
#define function without parameters

def greet_user():
    print("Hello everyone")

In [2]:
greet_user()

Hello everyone

In [ ]:
#To define with parameters

def greet_user_personalized