## Functions

functions are used to collect an inputs from the users

In [1]:
name = "John"

In [2]:
name = input("please enter your name: ")

please enter your name:  steve

In [3]:
age = input("Enter your age: ")

Enter your age:  30

In [4]:
type(age)

str

In [5]:
#Inputs collected by using input functions are saved as str by default in python untill you convert them

In [6]:
age = int(input("Enter your age: "))

Enter your age:  16

In [7]:
type(age)

int

In [8]:
age < 18

True

## Users Defined Functions

In [1]:
#define a function without parameters

def greet_user():
    print("Hello everyone")

In [2]:
greet_user()

Hello everyone

In [3]:
#To define with parameters

def greet_user_personalized(username):
    print(f"Hello {username}")

In [4]:
greet_user_personalized("John")

Hello John

In [5]:
def greet_user_personalized():
    username = input("please enter your name: ")
    print(f"Hello {username}")

In [6]:
greet_user_personalized()

please enter your name:  steve

Hello steve

In [7]:
def describe_student(name, age, course):
    print(f"My name is {name}. I am {age} years old. I am learning {course}")

In [8]:
describe_student("Alice", 19, "Python")#positional arguments

My name is Alice. I am 19 years old. I am learning Python

In [9]:
describe_student(course = "python", name = "Alice", age = 19)#keyword arguments

My name is Alice. I am 19 years old. I am learning python

In [10]:
#Defsult values

def describe_student(name, age, course="python"):
    print(f"My name is {name}. I am {age} years old. I am learning {course}")

In [11]:
describe_student("James", 19)

My name is James. I am 19 years old. I am learning python

In [12]:
describe_student("James", 19, "SQL")

My name is James. I am 19 years old. I am learning SQL

## Print vs Return

In [13]:
def sum_two_numbers(a, b):
    result = a + b
    print(result)

In [14]:
sum_two_numbers(5, 2)

7

In [16]:
first_result = sum_two_numbers(5, 2)

7

In [17]:
print(first_result)

None

In [18]:
def sum_two_numbers(a, b):
    result = a + b
    return result

In [19]:
second_result = sum_two_numbers(2, 3)

print(second_result)

5

In [21]:
third_result = sum_two_numbers(5, 6)

print(third_result)

11

# Local vs Global Variables

Any Variable within a fucntion is a local variable

In [25]:
result = 8 #globl result

def sum_two_numbers(a, b):
    result = 5 #local variable
    result = a + b #local variable
    return result

In [26]:
print(result)

8

# Passing an arbitrary arguments

In [1]:
def sum_of_numbers(*numbers):
    result = 0
    for num in numbers:
        result += num
    return result

In [2]:
sum_of_numbers(1, 2)

3

In [4]:
sum_of_numbers(1, 2, 10, 5)

18

In [ ]:
sum()

# Anonymous Functions

In [5]:
#Functions that did not have a name, it's represented by the keyword lambda

In [6]:
#To add two variables

add = lambda x, y: x + y

In [7]:
print(add(2, 3))

5

In [9]:
print(add(2, 6))

8

In [10]:
power = lambda a, b:a** b

In [11]:
print(power(2,3))

8

In [12]:
#Using with filter

numbers = [1, 2, 3, 4, 5]

In [14]:
#To filter a list to just even numbers

even_numbers = filter(lambda x: x % 2 == 0, numbers)

In [17]:
print(list(even_numbers))

[2, 4]

In [18]:
odd_numbers = filter(lambda y: y % 2 == 1, numbers)

In [20]:
print(list(odd_numbers))

[1, 3, 5]

In [21]:
#Using with the map function: Map modifies elements in a structure

print(numbers)

[1, 2, 3, 4, 5]

In [22]:
#To find squares of all the elements in the list

squares = map(lambda x:  x** 2, numbers)

In [25]:
print(list(squares))

[1, 4, 9, 16, 25]